<body>

    <nav class="navbar navbar-defaut navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
        <img alt="Brand" src="Gamca_logo_public.png">
      </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        
     
      <div class="btn-group pull-right" role="group" aria-label="...">
 
  <button type="button" class="btn btn-default">+create</button>
            </div>




            <!-- Spodná lista -->
            <nav class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                    <div class="navbar-header">
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                        </li>
                    </ul>
            </nav>

            <!-- zadefinovanie textu -->

            <h1>Riaditeľka je mafoška</h1>
            <p class="lead">toto bude slúžiť na tvorbu zoznamov</p>
            </div>

        </div>
        <!-- /.container -->



</body>